/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
#login-banner {
	width: 100%;
	height: 50px;
	background-color: black;
	color: rgb(255,255,255);
	display: none;
	justify-content: center;
	align-items: center;
	gap:10px;
}

#edition-button {
	background-color: white;
	border-radius: 60px;
	padding: 8px;
	font-weight: 700;
	cursor: pointer;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

#login-banner {
	width: 100%;
	display: flex!important;
	flex-direction: row;
}

.white-change-btn, .white-title{
	color: white;
	font-weight: lighter
}

.white-change-btn {
	width: min-content
}

.white-title {
	width: 20%
}

#edition-button {
	width: 33%
}

#nav-bar a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}

#modification-photo-de-profil,#modification-article,#modification-projet,#login-banner {
	display:none;
	cursor: pointer;
	color:black;
	font-size: 15px;
	font-weight: 100;
}

#modification-photo-de-profil {
	width: 80%;
    margin: 10px auto 0
}

#modification-article {
	margin-bottom: 15px
}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.title-and-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em
}
#portfolio h2 {
	text-align: center
}

#modification-projet {
	margin-left: 15px;
	font-size: 15px
}

#modification-projet.active {
	display: inline-flex;
	align-items: center;
}
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 50px;
	gap: 1%;
  }
  
  .button-style {
	min-height: 37px;
	max-width: 200px;
	min-width: 120px;
	background-color: white;
	color: #1d6154;
	border: 1px solid #1d6154;
	border-radius: 60px;
	font-size: 16px;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: bold;
  }
  
  .button-style:hover {
	cursor: pointer;
  }

  .active {
	background-color: #1d6154;
	color: white;
  }
  .inactive {
	display: none
  }
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login a {
	color: #3D3D3D;
	text-align: center;
} 
#modal-main {
	position:fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

#modal-main.active {
	display:flex;
}
#modal-main-content {
	width:625px;
	height: 725px;
	background: white;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	padding: 0 105px;
} 
 *,*:before, *:after {
	box-sizing: inherit;
}

#gallery-modal-content {
	display:flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height: 100%;
	
}

.close-modal {
	position:absolute;
	right: 36px;
	top: 32px;
	font-size: 19px;
	cursor:pointer;
}

#modal-main-content h3 {
	font-size: 25px;
	padding: 60px 0px 0px 0px;
}

#gallery-modal {
	width: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 46px;
}

.thumbs {
	display: flex;
	flex-wrap:wrap;
	gap:7px;

}

#gallery-modal hr {
	width:100%;
	size: 1px;
	color: #b3b3b3;
	margin-top: 49px;
	margin-bottom: 38px;
}

#gallery-modal .card {
	width: 78px;
	margin-bottom: 10px;
}

#gallery-modal-content img {
	width:100%;
}

.bin {
	position: relative;
	max-width: 17px;
	top: 30px;
	left: 50px;
	cursor: pointer;
}


#add-photo-modal-btn {
  font-family: Syne;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #1D6154;
  border-radius: 60px;
  text-decoration: none;
  padding: 10px 50px;
  margin-bottom: 23px;
}

#delete-gallery {
	font-family: Syne;
  	font-weight: 400;
  	font-size: 14px;
  	line-height: 17px;
  	color: #D65353;
  	text-decoration: none;
 	margin-bottom: 48px;
}

#add-photo-modal {
	display: none;
}
#add-photo-modal.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height:100%;
}

#add-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height:170px;
	gap: 5px;
}

#add-photo-icon {
	width: 60px;
	height: 50px;
	padding-top: 20px;
}

#add-photo-btn {
	box-shadow: none;
	width: 300px;
	height: 200px;
}

#add-photo-btn::-webkit-file-upload-button {
	color: transparent;
	visibility: hidden;
}

#add-photo-btn:before {
	position: relative;
	left: 60px;
	top: 20px;
	content: '+ Ajouter Photo';
	color: #306685;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 35px;
	background-color: #CBD6DC;
	border-radius: 30px;
	display: inline;
	cursor: pointer;
}

#add-photo p {
	padding-bottom: 20px;
}

.uploaded-photo {
	position: fixed;
	max-height: 170px;

}

#add-photo-modal input[type="submit"] {
	background-color: #A7A7A7;
	color: white;
	margin-bottom: 50px;
	width: 60%;
}

#add-photo-modal {
	margin-bottom: 10px;
}

#project-submit {
	cursor: pointer;
} */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.hidden {
	display: none;
}

